<!DOCTYPE html>
<html>
    <head>
        <title>Twitch Users</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <link rel="stylesheet" href="css/styles.css" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    </head>
    <body>
        <div>
            <h1>Twitch Users</h1>
            <div class="ui margins divider"></div>
                <% userInformation.forEach((user) => { %>
                    <% if(user.status === "Offline") { %>
                        <div class="ui two column padded red grid ">
                    <% } else { %>
                        <div class="ui two column padded green grid">
                    <% }%>
                        <div class="text column">
                            <a href="http://www.twitch.tv/<%=user.username%>"><%=user.username%></a>
                        </div>
                        <div class="text column">
                            <%=user.status%>
                        </div>
                    </div>
                    <div class="ui fitted divider"></div>
                <% }) %>
        </div>
    </body>
</html>
