body {
    background-color: #209CD6;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

h1 {
    padding-top: 36px;
}

.red {
    background-color: #d11b1b;
}

.red:hover { 
    background-color: red;
}

.green {
    background-color: green;
}

.green:hover {
    background-color: #38a028;
}
